% vim: ts=4 sw=4 et ft=erlang

{erl_opts, [
    {parse_transform, lager_transform},
    {lager_truncation_size, 4096},
    debug_info
]}.

{deps, [
    % let it always be the first
    {lager, "2.0.*",
        {git, "https://github.com/basho/lager.git", {tag, "2.0.1"}}},

    {meck, "0.*",
        {git, "git://github.com/eproxus/meck", {branch, "master"}}},
    {mavg, ".*",
        {git, "git@github.com:EchoTeam/mavg.git", {branch, "master"}}},
    {utils, ".*",
        {git, "git@github.com:EchoTeam/utils.git", {branch, "master"}}},
    {mod_gen, ".*",
        {git, "git@github.com:EchoTeam/mod_gen.git", {branch, "master"}}}
]}.

{cover_enabled, true}.

{eunit_compile_opts, [export_all]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
